<div class="grid grid-cols-12 gap-6 mt-5">
  <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
    <div class="report-box zoom-in">
      <div class="box p-5">
        <div class="flex">
          <i data-feather="user-check" class="report-box__icon text-theme-10"></i>
        </div>
        <div class="text-3xl font-bold leading-8 mt-6" id="clients_count">0</div>
        <div class="text-base text-gray-600 mt-1">Хэрэглэгчийн тоо</div>
      </div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
    <div class="report-box zoom-in">
      <div class="box p-5">
        <div class="flex">
          <i data-feather="user-check" class="report-box__icon text-theme-10"></i>
        </div>
        <div class="text-3xl font-bold leading-8 mt-6"><%= @pin_user %></div>
        <div class="text-base text-gray-600 mt-1">Pin авсан хэрэглэгчийн тоо</div>
      </div>
    </div>
  </div>
</div>

<div class="intro-y  mt-5">
  <div id="jsGrid"></div>
</div>


<script>
    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            filtering: true,
            autoload: true,
            paging: true,
            pageLoading: true,
            pageSize: 20,
            pageButtonCount: 5,
            sorting: true,
            pagerFormat: "Page: {first} {prev} {pages} {next} {last}     (showing {pageIndex} to {pageCount} of  {itemCount} entries)",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            noDataContent: "Мэдээлэл байхгүй байна.",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "POST",
                        url: "/clients/list",
                        data: filter,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        success: function (data){
                            $('#clients_count').text(data['itemsCount']);
                        }
                    });
                },
            },
            fields: [
                {
                    name: "id",
                    title: "ID",
                    width: 30,
                    align: "center",
                    type: "text",
                },
                {
                    name: "phone_number",
                    title: "Утасны дугаар",
                    width: 150,
                    type: "text",
                    align: "center"
                },
                {
                    name: "pincode",
                    title: "Пин код",
                    width: 40,
                    type: "text",
                    align: "center"
                },
                {
                    name: "address",
                    title: "Хаяг",
                    width: 200,
                    type: "text",
                }
            ],
            rowClick: function(args) {
                location.href="/clients/"+args.item['id']
            }
        });
    });

    function convertDatetimeToDate(date){
        return date.substr(0,10)
    }

    function formatWaitingStatus(value){
        if (value > 0)
          return "<span class='text-theme-12 block font-medium'>"+value+"</span>"
        else
            return value
    }

    function formatWillingStatus(value){
        if (value > 0)
            return "<span class='text-theme-6 block font-medium'>"+value+"</span>"
        else
            return value
    }

</script>
