<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
  <h2 class="text-lg font-medium mr-auto">
    Хүргэлтийн жагсаалт (<%= @deliveries.length %>)
  </h2>
  <div class="w-full sm:w-auto flex mt-4 sm:mt-0">

<!--    <a href="javascript:;" data-toggle="modal" data-target="#send_sms">-->
<!--      <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-9 text-white">-->
<!--        <i data-feather="send" class="w-4 h-4 mr-2"></i> SMS Илгээх-->
<!--      </button>-->
<!--    </a>-->
<!--    <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white" id="complete_all_deliveries">-->
<!--      <i data-feather="dollar-sign" class="w-4 h-4 mr-2"></i> Бүх хүргэлтийг дуусгах-->
<!--    </button>-->
    <button id="excelExport" class="button mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white">
      <i data-feather="download" class="w-4 h-4 mr-2"></i> Excel татах
    </button>
  </div>
</div>

<!--<div class="mt-3">-->
<!--  <label>Хүргэлтийн төлөв</label>-->
<!--  <div class="flex flex-col sm:flex-row mt-2">-->
<!--    <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2">-->
<!--      <input type="checkbox" class="input border mr-2" id="delivery_waiting">-->
<!--      <label class="cursor-pointer select-none" for="delivery_waiting">Хүлээгдэж байгаа</label>-->
<!--    </div>-->
<!--    <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2 mt-2 sm:mt-0">-->
<!--      <input type="checkbox" class="input border mr-2" id="delivery_prepared">-->
<!--      <label class="cursor-pointer select-none" for="delivery_prepared">Хүргэлтэнд бэлдсэн</label>-->
<!--    </div>-->
<!--    <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2 mt-2 sm:mt-0">-->
<!--      <input type="checkbox" class="input border mr-2" id="delivery_inprogress">-->
<!--      <label class="cursor-pointer select-none" for="delivery_inprogress">Хүргэлтэнд гарсан</label>-->
<!--    </div>-->
<!--    <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2 mt-2 sm:mt-0">-->
<!--      <input type="checkbox" class="input border mr-2" id="delivery_complated">-->
<!--      <label class="cursor-pointer select-none" for="delivery_complated">Хүргэгдсэн</label>-->
<!--    </div>-->
<!--    <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2 mt-2 sm:mt-0">-->
<!--      <input type="checkbox" class="input border mr-2" id="delivery_cancelled">-->
<!--      <label class="cursor-pointer select-none" for="delivery_cancelled">Цуцалсан</label>-->
<!--    </div>-->
<!--    <div class="flex items-center text-gray-700 dark:text-gray-500 mr-2 mt-2 sm:mt-0">-->
<!--    <input type="text" class="input w-full sm:w-56 box pl-10" id = "filter_day">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="grid grid-cols-12 mt-10">
  <div class="col-span-12">
    <div id="jsGrid"></div>
  </div>
</div>

<script>
var filterDay = null
    $(function () {
    $( "#filter_day" ).change(function() {
        filterDay = $(this).val()
        jsGridLoad();
    });
      jsGridLoad()
    });

    function convertDatetimeToDate(date){
        return date.substr(0,10)
    }

    function formatWaitingStatus(value){
        if (value > 0)
            return "<span class='text-theme-12 block font-medium'>"+value+"</span>"
        else
            return value
    }

    function formatWillingStatus(value){
        if (value > 0)
            return "<span class='text-theme-6 block font-medium'>"+value+"</span>"
        else
            return value
    }

    function jsGridLoad(){
        $("#jsGrid").jsGrid({
            width: "100%",
            filtering: true,
            autoload: true,
            paging: true,
            pageLoading: true,
            pageSize: 20,
            pageButtonCount: 5,
            editing: true,
            sorting: true,
            deleteConfirm: "Энэ хүргэлтийн хүсэлтийг устгахдаа итгэлтэй байнуу",
            pagerFormat: "Page: {first} {prev} {pages} {next} {last}     (showing {pageIndex} to {pageCount} of  {itemCount} entries)",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            noDataContent: "Мэдээлэл байхгүй байна.",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "POST",
                        url: "/deliveries/list",
                        data: { filter: filter, filter_day: filterDay },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        success: function (data){
                            // $('#clients_count').text(data['itemsCount']);
                        }
                    });
                },

                updateItem: function (item) {
                    return $.ajax({
                        type: "PUT",
                        url: "/deliveries/" + item.id,
                        data: item,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        success: function (data){
                            var $grid = $("#jsGrid");
                            $grid.jsGrid("loadData");
                            Toastify({
                                text: "Амжилттай засагдлаа",
                                duration: 3000,
                                newWindow: true,
                                close: true,
                                gravity: "bottom",
                                position: "right",
                                backgroundColor: "#91C714",
                                stopOnFocus: true,
                            }).showToast();
                        }
                    });
                },

                deleteItem: function (item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/deliveries/" + item.id,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        success: function (data){
                            var $grid = $("#jsGrid");
                            $grid.jsGrid("loadData");
                            Toastify({
                                text: "Амжилттай устгагдлаа",
                                duration: 3000,
                                newWindow: true,
                                close: true,
                                gravity: "bottom",
                                position: "right",
                                backgroundColor: "#91C714",
                                stopOnFocus: true,
                            }).showToast();
                        }
                    });
                }
            },
            fields: [
                {
                    name: "id",
                    title: "ID",
                    width: 40,
                    align: "center",
                    type: "text",
                    editing: false,
                },
                {
                    name: "phone_number",
                    title: "Дугаар",
                    editing: false,
                    width: 50,
                    type: "text",
                    align: "center"
                },
                {
                    name: "address",
                    editing: false,
                    title: "Хаяг",
                    width: 300,
                    type: "text",
                },
                {
                    name: "driver",
                    title: "Жолооч",
                    width: 300,
                    type: "text",
                },
                {
                    name: "delivery_date",
                    editing: false,
                    title: "Хүргүүлж авах огноо",
                    type: "text",
                    itemTemplate: function (value) {
                        return convertDatetimeToDate(value)
                    }
                },
                {
                    name: "status",
                    editing: false,
                    title: "Төлөв",
                    type: "text"
                },
                { type: "control" }
            ],
            rowClick: function(args) {
                location.href="/clients/"+args.item['client_id']
            }
        });
    }

</script>


<script>
    $(function() {
        $("#excelExport").click(function(){
            $("#table2excel").table2excel({
                exclude: ".noExl",
                name:"Хүргэлтийн жагсаалт",
                filename: "delivery_" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                fileext:".xls",
                preserveColors:true
            });
        });
    });

    var orderDetailIDs = [];

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });

    $("#complete_all_deliveries").click(function (event){
        event.preventDefault();
        startLoader();
        orderDetailIDs = []
        $("#table2excel input:checkbox:checked").map(function(){
            if($(this).val() !== "on"){
                $(this).val().split(",").forEach(function(order_detail_id) {
                    orderDetailIDs.push(order_detail_id)
                })
            }
        });

        $.ajax({
            url: "/orders/complete_all_deliveries",
            type: "POST",
            data:{
                orderDetailIDs: orderDetailIDs,
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            success: function(data) {
                location.reload();
                closeLoader();
                Toastify({
                    text: "Хүргэлтүүдийг амжилттай дуусгалаа",
                    duration: 3000,
                    newWindow: true,
                    close: true,
                    gravity: "bottom",
                    position: "right",
                    backgroundColor: "#91C714",
                    stopOnFocus: true,
                }).showToast();
            },
            error: function(data){
                closeLoader();
            }
        });
    });

</script>

<script>
$(function() {
    console.log("hello world")
    $( "#filter_day" ).change(function() { 
        filterDay = $(this).val()
        console.log($(this).val());
    });
});
</script>