<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Affan - PWA Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0134d4">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Big Mall Үйлдвэрийн бараа бөөний үнээр-Захиалгын бараа ✅✅✅</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="mobile/img/demo-img/favicon.ico">
    <link rel="apple-touch-icon" href="mobile/img/icons/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="152x152" href="mobile/img/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="mobile/img/icons/icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="mobile/img/icons/icon-180x180.png">
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="mobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="mobile/css/animate.css">
    <link rel="stylesheet" href="mobile/css/owl.carousel.min.css">
    <link rel="stylesheet" href="mobile/css/font-awesome.min.css">
    <link rel="stylesheet" href="mobile/css/bootstrap-icons.css">
    <link rel="stylesheet" href="mobile/css/magnific-popup.css">
    <link rel="stylesheet" href="mobile/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="mobile/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="mobile/css/apexcharts.css">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="mobile/style.css">
    <!-- Web App Manifest -->
    <link rel="manifest" href="mobile/manifest.json">
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center" id="preloader">
    <div class="spinner-grow text-primary" role="status">
        <div class="sr-only">Loading...</div>
    </div>
</div>
<!-- Internet Connection Status -->
<!-- # This code for showing internet connection status -->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Header Area -->
<div class="header-area" id="headerArea">
    <div class="container">
        <!-- Header Content -->
        <div class="header-content position-relative d-flex align-items-center justify-content-between">
            <!-- Back Button -->
            <div class="back-button">
                <a href="#">

                </a>
            </div>
            <!-- Page Title -->
            <div class="page-heading">
                <h6 class="mb-0">Тавтай морилно уу</h6>
            </div>
            <!-- Settings -->
            <div class="setting-wrapper"><a class="setting-trigger-btn" id="settingTriggerBtn" href="#">
            </a></div>
        </div>
    </div>
</div>

<!-- # Sidenav Left -->
<!-- Offcanvas -->
<div class="page-content-wrapper">
    <!-- Hero Slides -->
    <div class="owl-carousel-one owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide" style="background-color: #f1b10f !important">
            <div class="slide-content h-100 d-flex align-items-center text-center">
                <div class="container">
                    <h3 class="text-black mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms">BIG MALL</h3>
                    <h6 class="text-black mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms">BIG MALL- Үйлдвэрийн бөөний үнээр-Захиалгын бараа ✅✅✅.</h6><a class="btn btn-creative btn-secondary" href="https://www.facebook.com/groups/228007805310125/hashtags" target="_blank" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms">Бараа захиалах</a>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide" style="background-color: #f1b10f !important">
            <div class="slide-content h-100 d-flex align-items-center text-center">
                <div class="container">
                    <h3 class="text-black mb-1" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms">BIG MALL</h3>
                    <h6 class="text-black mb-4" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms">BIG MALL- Үйлдвэрийн бөөний үнээр-Захиалгын бараа ✅✅✅.</h6><a class="btn btn-creative btn-secondary" href="https://www.facebook.com/groups/228007805310125/hashtags" target="_blank" data-animation="fadeInUp" data-delay="800ms" data-wow-duration="500ms">Бараа захиалах</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3"></div>
    <div class="container direction-rtl">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <svg class="bi bi-award text-warning" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"></path>
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                                </svg>
                            </div>
                            <p class="mb-0">ХЯМД</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <svg class="bi bi-award text-warning" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"></path>
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                                </svg>
                            </div>
                            <p class="mb-0">ШУУРХАЙ</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-gray">
                                <svg class="bi bi-award text-warning" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"></path>
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                                </svg>
                            </div>
                            <p class="mb-0">НАЙДВАРТАЙ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card card-bg-img bg-img bg-overlay mb-3" style="background-image: url('mobile/img/bg-img/bg-main.jpg')">

                <div class="card-body direction-rtl p-5">
                    <h2 class="text-white">Та утасны дугаараа оруулна уу</h2>
                    <p class="mb-4 text-white">Бид таньд нэг л удаа пин код өгөх бөгөөд та цаашид тэр пин кодоор барааны мэдээллээ харах болно</p>
                    <div class="form-group">
                        <input class="form-control form-control-clicked" id="phone_number" type="text" placeholder="Утасны дугаар" name="phone_number">
                    </div>
                    <input class="btn btn-warning" type="submit" id="reset_pin" value="КОД ИЛГЭЭХ" >
                </div>
        </div>
    </div>
</div>
<!-- All JavaScript Files -->
<script src="mobile/js/bootstrap.bundle.min.js"></script>
<script src="mobile/js/jquery.min.js"></script>
<script src="mobile/js/internet-status.js"></script>
<script src="mobile/js/waypoints.min.js"></script>
<script src="mobile/js/jquery.easing.min.js"></script>
<script src="mobile/js/wow.min.js"></script>
<script src="mobile/js/owl.carousel.min.js"></script>
<script src="mobile/js/jquery.counterup.min.js"></script>
<script src="mobile/js/jquery.countdown.min.js"></script>
<script src="mobile/js/imagesloaded.pkgd.min.js"></script>
<script src="mobile/js/isotope.pkgd.min.js"></script>
<script src="mobile/js/jquery.magnific-popup.min.js"></script>
<script src="mobile/js/dark-mode-switch.js"></script>
<script src="mobile/js/ion.rangeSlider.min.js"></script>
<script src="mobile/js/jquery.dataTables.min.js"></script>
<script src="mobile/js/active.js"></script>
<!-- PWA -->
<script src="mobile/js/pwa.js"></script>
<script>
    $("#home_search").click(function(){
        if($('#phone_number').val() !== undefined || $('#phone_number').val() !== ""){
            window.location.href='/home/' + $('#phone_number').val()
        }else{
            alert('Утасны дугаараа оруулна уу!')
        }
    });
    $("#reset_pin").click(function(){
        if($("#phone_number").val().length === 0 ){
            alert("Утасны дугаараа оруулна уу")
        }else{
            $.ajax({
                url: "/home/reset_pin_code/",
                type: "POST",
                data: {
                    phone_number: $("#phone_number").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                success: function (data) {
                    console.log("Таны дугаарлуу PIN CODE илгээлээ")
                    alert('Таны дугаарлуу PIN CODE илгээлээ')
                    window.location.href='/'
                },
                error: function (data) {
                    if (data.status === 400){

                    } else if(data.status === 401){
                        alert("Бүртгэлгүй хэрэглэгч байна")
                    }
                }
            });
        }
    });
</script>
</body>
</html>