<form action="/config/update" method="POST">
  <%= csrf_meta_tags %>
  <div class="mt-2 mb-5">
    <div class="form-check form-switch">
      <input id="delivery_status" name="delivery_status" class="form-check-input" type="checkbox" <% if @site_config.delivery_status == true %>checked<%end %>>
      <label class="form-check-label" for="delivery_status">Хүргэлийн захиалга нээх</label>
    </div>
  </div>
  <label for="description">
    <span>Хүргэлт хаасан үеийн тайлбар</span>
    <textarea name="delivery_text" class="input w-full border mt-2" id="description" rows="4"><%= @site_config.delivery_text %></textarea>
  </label>
  <label for="delivery_description">
    <span>Хүргэлтийн төлбөрийн тайлбар</span>
    <textarea name="delivery_description" class="input w-full border mt-2" id="delivery_description" rows="4"><%= @site_config.delivery_description %></textarea>
  </label>
  <button type="submit" class="button mb-2 flex items-center justify-center bg-theme-9 text-white">
    Хадгалах
  </button>
</form>