<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
  <h2 class="text-lg font-medium mr-auto">
    Захиалгийн жагсаалт
  </h2>
  <div class="w-full sm:w-auto flex mt-4 sm:mt-0">


    <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-9 text-white">
      <i data-feather="send" class="w-4 h-4 mr-2"></i> SMS Илгээх
    </button>
    <% if @orders.present? %>
        <a href="javascript:;" data-toggle="modal" data-target="#basic-modal-preview" >
            <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white">
            <i data-feather="dollar-sign" class="w-4 h-4 mr-2"></i> Каргоны үнэ оруулах
            </button>
        </a>
    <% end %>
    <a href ="/items_imports/new">
    <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white">
      <i data-feather="plus" class="w-4 h-4 mr-2"></i> Excel upload
    </button>
    </a>
    <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white">
      <i data-feather="plus" class="w-4 h-4 mr-2"></i> Захиалга бүртгэх
    </button>
  </div>
</div>


<div class="intro-y  mt-5">
  <div id="jsGrid"></div>
</div>
<div class="modal" id="basic-modal-preview">
     <div class="modal__content relative"> <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3" id = "close_button"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>
         <div class="p-5 text-center">
             <div class="text-3xl mt-5">Каргоны үнэ оруулах</div>
         </div>
         <div>
           <% if @orders.present? %>
            <label>Бүтээгдэхүүн</label>
            <%= select_tag "product", options_from_collection_for_select(@orders, "id", "name") %>
             <% end %>
         </div>
            <div class="mt-3">
                <label>Үнэ</label>
                <input type="text" class="input w-full border mt-2" id = "payment" >
            </div>
                <button type="button" class="button bg-theme-1 text-white mt-5" id="modal_submit">Оруулах</button>
        </div>
 </div>

<script>
$("#modal_submit").click(function(){
    $.ajax({
      url: "/orders/add_cargo",
      type: "POST",
      data:{
          product: $('#product').val(),
          payment: $("#payment").val(),
      },
      beforeSend: function (xhr) {
         xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      success: function(data) {
        document.getElementById("close_button").onclick
          alert(data.message)
      },
      error: function(data){
          alert(data.message)
      }
   });
  });
    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            filtering: true,
            autoload: true,
            paging: true,
            pageLoading: true,
            pageSize: 20,
            pageButtonCount: 5,
            editing: false,
            inserting: false,
            sorting: true,
            pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            noDataContent: "Мэдээлэл байхгүй байна.",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
            deleteConfirm: function (item) {
                return "\"" + item.name + "\" бүтгээдэхүүнийг утгахдаа итгэлтэй байнуу?";
            },
            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "POST",
                        url: "/orders/list",
                        data: filter,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        success: function (data) {
                            console.log(data['sum'])
                        }
                    });
                },
            },
            fields: [
                {
                  name: "id",
                  type: "text",
                  title: "ID",
                  width: 30
                },
                {
                    name: "name",
                    type: "text",
                    title: "Бүтээгдэхүүн",
                },
                {
                    name: "account_number",
                    type: "text",
                    title: "Дансны дугаар",
                },
                {
                    name: "phone_number",
                    type: "text",
                    title: "Утас",
                    width: 70,
                },
                {
                    name: "quantity",
                    type: "number",
                    width: 30,
                    title: "Т/Ш",
                },
                {
                    name: "amount",
                    type: "number",
                    title: "Төлсөн дүн",
                    width: 70,
                    itemTemplate: function (value) {
                        return formatNumberForDisplay(value)
                    }
                },
                {
                    name: "cargo_price",
                    type: "number",
                    title: "Каргоны төлбөр",
                    itemTemplate: function (value) {
                        return formatNumberForDisplay(value)
                    }
                },
                {
                    name: "status",
                    type: "text",
                    title: "Төлөв",
                },
                {
                    name: "is_delivery_to_home",
                    type: "checkbox",
                    title: "Хүргэлт"
                },
                {
                    name: "taking_confirm",
                    type: "checkbox",
                    title: "Агуулах"
                },
                {
                    name: "transition_date",
                    type: "text",
                    title: "Гүйлгээний огноо",
                }
            ],
            rowClick: function(args) {
                console.log(args.item['id'])

            }
        });
    });

    function formatNumberForDisplay(numberToFormat) {
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        });

        return formatter.format(numberToFormat).replace('$', '₮ ');
    }

</script>
