<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
  <h2 class="text-lg font-medium mr-auto">
    Захиалгийн жагсаалт
  </h2>
  <div class="w-full sm:w-auto flex mt-4 sm:mt-0">


    <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-9 text-white">
      <i data-feather="send" class="w-4 h-4 mr-2"></i> SMS Илгээх
    </button>
    <% if @products.present? %>
      <a href="javascript:;" data-toggle="modal" data-target="#set_cargo_price" >
        <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-6 text-white">
          <i data-feather="dollar-sign" class="w-4 h-4 mr-2"></i> Каргоны үнэ оруулах
        </button>
      </a>
    <% end %>
    <a href ="/items_imports/new">
      <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white">
        <i data-feather="plus" class="w-4 h-4 mr-2"></i> Excel upload
      </button>
    </a>
    <button class="button mr-2 mb-2 flex items-center justify-center bg-theme-1 text-white">
      <i data-feather="plus" class="w-4 h-4 mr-2"></i> Захиалга бүртгэх
    </button>
  </div>
</div>


<div class="intro-y  mt-5">
  <div id="jsGrid"></div>
</div>

<div class="modal" id="set_cargo_price">
  <div class="modal__content">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200 dark:border-dark-5">
      <h2 class="font-medium text-base mr-auto">Каргоны үнэ оруулах</h2>
    </div>
    <div class="p-5 grid grid-cols-12 gap-4 gap-y-3">
      <div class="col-span-12 sm:col-span-12"><label>Бүтээгдэхүүн</label>
        <div class="mt-2">
          <select data-search="true" data-placeholder="бараа хайх" class="tail-select w-full" id="cargo_product">
            <% @products.each do |product|%>
              <option value="<%= product.id %>"><%= product.name %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-12"><label>Каргоны үнэ</label>
        <input type="number" id="cargo_price" required class="input w-full border mt-2 flex-1" placeholder="картгоны үнэ"></div>
    </div>
    <div class="px-5 py-3 text-right border-t border-gray-200 dark:border-dark-5">
      <button type="button" data-dismiss="modal" class="button w-20 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Болих</button>
      <button type="button" class="button w-20 bg-theme-1 text-white" id="submit_cargo_price">Оруулах</button>
    </div>
  </div>
</div>


<script>
    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            filtering: true,
            autoload: true,
            paging: true,
            pageLoading: true,
            pageSize: 20,
            pageButtonCount: 5,
            editing: false,
            inserting: false,
            sorting: true,
            pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Prev",
            pageNextText: "Next",
            pageFirstText: "First",
            pageLastText: "Last",
            noDataContent: "Мэдээлэл байхгүй байна.",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
            deleteConfirm: function (item) {
                return "\"" + item.name + "\" бүтгээдэхүүнийг утгахдаа итгэлтэй байнуу?";
            },
            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "POST",
                        url: "/orders/list",
                        data: filter,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        success: function (data) {
                            console.log(data['sum'])
                        }
                    });
                },
            },
            fields: [
                {
                    name: "id",
                    type: "text",
                    title: "ID",
                    width: 30
                },
                {
                    name: "name",
                    type: "text",
                    title: "Бүтээгдэхүүн",
                },
                {
                    name: "account_number",
                    type: "text",
                    title: "Дансны дугаар",
                },
                {
                    name: "phone_number",
                    type: "text",
                    title: "Утас",
                    width: 70,
                },
                {
                    name: "quantity",
                    type: "number",
                    width: 30,
                    title: "Т/Ш",
                },
                {
                    name: "amount",
                    type: "number",
                    title: "Төлсөн дүн",
                    width: 70,
                    itemTemplate: function (value) {
                        return formatNumberForDisplay(value)
                    }
                },
                {
                    name: "cargo_price",
                    type: "number",
                    title: "Каргоны төлбөр",
                    itemTemplate: function (value) {
                        return formatNumberForDisplay(value)
                    }
                },
                {
                    name: "status",
                    type: "text",
                    title: "Төлөв",
                },
                {
                    name: "is_delivery_to_home",
                    type: "checkbox",
                    title: "Хүргэлт"
                },
                {
                    name: "taking_confirm",
                    type: "checkbox",
                    title: "Агуулах"
                },
                {
                    name: "transition_date",
                    type: "text",
                    title: "Гүйлгээний огноо",
                }
            ],
            rowClick: function(args) {
                console.log(args.item['id'])

            }
        });
    });

    function formatNumberForDisplay(numberToFormat) {
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
        });

        return formatter.format(numberToFormat).replace('$', '₮ ');
    }

    $("#submit_cargo_price").click(function(){
        console.log('asdf');
        console.log(cash('#cargo_product').val())
        $.ajax({
            url: "/orders/add_cargo",
            type: "POST",
            data:{
                product: $('#cargo_product').val(),
                payment: $("#cargo_price").val(),
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            success: function(data) {
                $("#cargo_price").val("");
                cash("#set_cargo_price").modal("hide");
                var $grid = $("#jsGrid");
                $grid.jsGrid("loadData");
                Toastify({
                    text: "Каргоны үнэ амжилттай орууллаа",
                    duration: 3000,
                    newWindow: true,
                    close: true,
                    gravity: "bottom",
                    position: "right",
                    backgroundColor: "#91C714",
                    stopOnFocus: true,
                }).showToast();
            },
            error: function(data){
                alert(data.message)
            }
        });
    });

</script>

<%= javascript_pack_tag 'orders'%>
