<!--<div id="jsGrid"></div>-->
<%#= javascript_pack_tag 'common/grid' %>
<!--<script>-->
<!--    $(function() {-->
<!--        $("#jsGrid").jsGrid({-->
<!--            width: "100%",-->
<!--            filtering: true,-->
<!--            autoload: true,-->
<!--            paging: true,-->
<!--            pageLoading: true,-->
<!--            pageSize: 10,-->
<!--            pageButtonCount: 5,-->
<!--            pagerFormat: "Хуудасны тоо: {first} {prev} {pages} {next} {last}    Одоо байгаа хуудас: {pageIndex}  Нийт хуудас: {pageCount}",-->
<!--            pagePrevText: "Өмнөх хуудас",-->
<!--            pageNextText: "Дараагийн хуудас",-->
<!--            pageFirstText: "Эхний хуудас",-->
<!--            pageLastText: "Сүүлийн хуудас",-->
<!--            deleteConfirm: "Устгахдаа итгэлтэй байна уу?",-->
<!--            controller: {-->
<!--                loadData: function(filter) {-->
<!--                    return $.ajax({-->
<!--                        type: "GET",-->
<!--                        url: "/products",-->
<!--                        data: filter-->
<!--                    });-->
<!--                },-->
<!--                insertItem: function(item) {-->
<!--                    return $.ajax({-->
<!--                        type: "POST",-->
<!--                        url: "/products",-->
<!--                        data: item,-->
<!--                        beforeSend: function (xhr) {-->
<!--                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))-->
<!--                        }-->
<!--                    });-->
<!--                },-->
<!--                updateItem: function(item) {-->
<!--                    return $.ajax({-->
<!--                        type: "PUT",-->
<!--                        url: "/products/" + item.id,-->
<!--                        data: item,-->
<!--                        beforeSend: function (xhr) {-->
<!--                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))-->
<!--                        }-->
<!--                    });-->
<!--                },-->
<!--                deleteItem: function(item) {-->
<!--                    return $.ajax({-->
<!--                        type: "DELETE",-->
<!--                        url: "/products/" + item.id,-->
<!--                        beforeSend: function (xhr) {-->
<!--                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))-->
<!--                        }-->
<!--                    });-->
<!--                }-->
<!--            },-->
<!--            fields: [-->
<!--                { name: "category_id", type: "text", width: 100, title: "Катагори Id" },-->
<!--                { name: "user_id", type: "text", width: 100, title: "Хэрэглэгчийн Id" },-->
<!--                { name: "name", type: "text", width: 200, title: "Барааны нэр" },-->
<!--                { name: "price", type: "text", title: "Барааны үнэ"},-->
<!--                { name: "total_amount", type: "text", title: "Нийт үнэ"},-->
<!--                { name: "quantity", type: "text", title: "Барааны тоо ширхэг"},-->
<!--                { name: "prev_quantity", type: "text", title: "Өмнөх барааны тоо ширхэг"},-->
<!--                { name: "unit", type: "text", title: "Барааны тоо ширхэг"},-->
<!--                { type: "control" }-->
<!--            ]-->
<!--        });-->
<!--    });-->
<!--</script>-->
