<div id="jsGrid"></div>
<script>
    $(function() {
        $("#jsGrid").jsGrid({
            width: "100%",
            filtering: true,
            autoload: true,
            paging: true,
            pageLoading: true,
            pageSize: 10,
            pageButtonCount: 5,
            editing: true,
            inserting: true,
            sorting: true,
            pagerFormat: "Хуудасны тоо: {first} {prev} {pages} {next} {last}    Одоо байгаа хуудас: {pageIndex}  Нийт хуудас: {pageCount}",
            pagePrevText: "Өмнөх хуудас",
            pageNextText: "Дараагийн хуудас",
            pageFirstText: "Эхний хуудас",
            pageLastText: "Сүүлийн хуудас",
            deleteConfirm: "Устгахдаа итгэлтэй байна уу?",
            controller: {
                loadData: function(filter) {
                    return $.ajax({
                        type: "POST",
                        url: "/products/list",
                        data: filter,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        }
                    });
                },
                insertItem: function(item) {
                    return $.ajax({
                        type: "POST",
                        url: "/products",
                        data: item,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        }
                    });
                },
                updateItem: function(item) {
                    return $.ajax({
                        type: "PUT",
                        url: "/products/" + item.id,
                        data: item,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        }
                    });
                },
                deleteItem: function(item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/products/" + item.id,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        }
                    });
                }
            },
            fields: [
                { name: "category_id", title: "Ангилал", type: "select", width: 100, items: [{"id": 0, "name": "Ангилал сонгоно уу?"}, {"id": 1, "name": "Хүүхдийн хувцас"}, {"id": 2, "name": "Эрэгтэй хувцас"}, {"id": 3, "name": "Эмэгтэй хувцас"}, {"id": 4, "name": "Бэлэн хувцас"}, {"id": 5, "name": "Ширхэг хувцас"}, {"id": 6, "name": "Ажлын хувцас"} ], valueField: "id", textField: "name" },
                { name: "name", type: "text", width: 200, title: "Бүтээгдэхүүн" },
                { name: "quantity", type: "text", title: "Үлдэгдэл"},
                { name: "unit", title: "Нэгж", type: "select", filtering: false, width: 100, items: [{"id": 0, "name": "Ангилал сонгоно уу?"}, {"id": 1, "name": "Ширхэг"}, {"id": 2, "name": "Боодол"}, {"id": 3, "name": "Литр"}], valueField: "id", textField: "name" },
                { name: "price", type: "text", title: "Yнэ"},
                { name: "total_amount", type: "text", title: "Нийт үнэ", editing: false, inserting: false},
                { name: "created_at", type: "date", width: 120, title: "Огноо", editing: false, inserting: false},
                { type: "control" }
            ]
        });
    });
</script>
