<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Bolor home shop">
  <meta name="keywords" content="bolor, home, shop">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://bolorshop-order.mn/">
  <meta property="og:title" content="Big Mall Үйлдвэрийн бараа бөөний үнээр-Захиалгын бараа ✅✅✅">
  <meta property="og:description" content="Big Mall Үйлдвэрийн бараа бөөний үнээр-Захиалгын бараа ✅✅✅">
  <meta property="og:image" content="http://bigmall.mn/cover.jpeg">


  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="/icon/favicon-32x32.png">
  <link rel="manifest" href="/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>BOLOR HOME SHOP</title>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/mobile/css/bootstrap.min.css">
  <link rel="stylesheet" href="/mobile/css/animate.css">
  <link rel="stylesheet" href="/mobile/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/mobile/css/font-awesome.min.css">
  <link rel="stylesheet" href="/mobile/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/mobile/css/magnific-popup.css">
  <link rel="stylesheet" href="/mobile/css/ion.rangeSlider.min.css">
  <link rel="stylesheet" href="/mobile/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/mobile/css/apexcharts.css">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="/mobile/style.css">
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center" id="preloader">
  <div class="spinner-grow text-primary" role="status">
    <div class="sr-only">Loading...</div>
  </div>
</div>
<!-- Internet Connection Status -->
<!-- # This code for showing internet connection status -->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Header Area -->
<div class="header-area" id="headerArea">
  <div class="container">
    <div class="header-content position-relative d-flex align-items-center justify-content-between">
      <div class="navbar--toggler" id="affanNavbarToggler" data-bs-toggle="offcanvas" data-bs-target="#affanOffcanvas" aria-controls="affanOffcanvas"><span class="d-block"></span><span class="d-block"></span><span class="d-block"></span></div>
      <div class="logo-wrapper" ><a href="/"><img style="max-height: 44px" src="/logo.png" alt=""></a></div>

      <div class="setting-wrapper">
        <div class="setting-trigger-btn" id="darkSwitch">
          <div class="form-check form-switch">
            <input class="form-check-input form-check-success" id="darkSwitch" type="checkbox">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" id="affanOffcanvas" data-bs-scroll="true" tabindex="-1" aria-labelledby="affanOffcanvsLabel">
  <button class="btn-close btn-close-white text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  <div class="offcanvas-body p-0">
    <!-- Side Nav Wrapper -->
    <div class="sidenav-wrapper">
      <!-- Sidenav Profile -->
      <div class="sidenav-profile bg-success">
        <div class="sidenav-style1"></div>
        <!-- User Thumbnail -->
        <div class="user-profile"><img src="https://dulaan.mn/wp-content/uploads/2021/06/UBDS_LOGO.png" alt=""></div>
        <!-- User Info -->
        <div class="user-info">
          <h6 class="user-name mb-0">Тавтай морилно уу</h6><span>Улаанбаатар Дулааны Сүлжээ ТӨХК </span>
        </div>
      </div>
      <!-- Sidenav Nav -->
      <ul class="sidenav-nav ps-0">
        <li><a href="/"><i class="bi bi-house-door"></i>Нүүр</a></li>
        <li><a href="/devices/"><i class="bi bi-folder2-open"></i>Төхөөрөмж</a></li>
        <li><a href="/saved/"><i class="bi bi-newspaper"></i>Мэдээлэл</a></li>
        <li>
          <div class="night-mode-nav"><i class="bi bi-moon"></i>Шөнийн горим
            <div class="form-check form-switch">
              <input class="form-check-input form-check-success" id="darkSwitch" type="checkbox">
            </div>
          </div>
        </li>
      </ul>
      <!-- Social Info -->
      <div class="social-info-wrap"><a href="#"><i class="bi bi-facebook"></i></a><a href="#"><i class="bi bi-twitter"></i></a><a href="#"><i class="bi bi-linkedin"></i></a></div>
      <!-- Copyright Info -->
      <div class="copyright-info">
        <p>2022 &copy; Улаанбаатар Дулааны Сүлжээ ТӨХК </p>
      </div>
    </div>
  </div>
</div>


<!-- # Sidenav Left -->
<!-- Offcanvas -->
<div class="page-content-wrapper">
  <!-- Hero Slides -->
  <div class="pt-3"></div>
  <div class="container">
    <div class="card card-bg-img bg-img bg-overlay mb-3" style="background-image: url('/mobile/img/bg-img/bg-main.jpg')">
      <form action="/home" method="post">
        <%= csrf_meta_tags %>
        <div class="card-body direction-rtl p-5">
          <h2 class="text-white">Захиалгийн мэдээлэл харах</h2>
          <p class="mb-4 text-white">Та өөрийн захиалга өгсөн утасны дугаараа оруулна уу</p>
          <div class="form-group">
            <input class="form-control form-control-clicked" id="phone_number" type="text" placeholder="Утасны дугаар" name="phone_number">
          </div>
          <div class="form-group">
            <input class="form-control form-control-clicked" id="pin" type="number" placeholder="Pin code" name="pin_code">
          </div>
          <input class="btn btn-warning" type="submit" value="Мэдээлэл харах">
          <div class="w-full" style="float: right">
            <a class="text-secondary" href="/reset" style="font-size: 10px">шинэ пин код авах</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <!-- Google Maps -->
    <div class="card">
      <div class="card-body">
        <div class="google-maps">
          <h5 class="mb-3">Манай хаяг</h5>
          <p>3,4 -р хороолол Өргөөгийн замын урд Баянгол их дэлгүүрийн 1давхарт</p>
          <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d741.7897787655099!2d106.87470519725808!3d47.92214008229221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5d9692e897528533%3A0x64d36cad5171a80f!2sBayangol%20Department%20Store!5e1!3m2!1sen!2smn!4v1655199973437!5m2!1sen!2smn" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-3"></div>
</div>


<div class="footer-nav-area" id="footerNav">
  <div class="container px-0">
    <div class="footer-nav position-relative">
      <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
        <li class="active"><a href="/"><i class="fa fa-home fa-2x"></i><span>Нүүр</span></a></li>
        <li><a href="/"><i class="fa fa-facebook-square fa-2x"></i><span>Page</span></a></li>
        <li><a href="/"><i class="fa fa-facebook fa-2x"></i><span>Group</span></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- All JavaScript Files -->
<script src="/mobile/js/bootstrap.bundle.min.js"></script>
<script src="/mobile/js/jquery.min.js"></script>
<script src="/mobile/js/internet-status.js"></script>
<script src="/mobile/js/waypoints.min.js"></script>
<script src="/mobile/js/jquery.easing.min.js"></script>
<script src="/mobile/js/wow.min.js"></script>
<script src="/mobile/js/owl.carousel.min.js"></script>
<script src="/mobile/js/jquery.counterup.min.js"></script>
<script src="/mobile/js/jquery.countdown.min.js"></script>
<script src="/mobile/js/imagesloaded.pkgd.min.js"></script>
<script src="/mobile/js/isotope.pkgd.min.js"></script>
<script src="/mobile/js/jquery.magnific-popup.min.js"></script>
<script src="/mobile/js/dark-mode-switch.js"></script>
<script src="/mobile/js/ion.rangeSlider.min.js"></script>
<script src="/mobile/js/jquery.dataTables.min.js"></script>
<script src="/mobile/js/active.js"></script>
<!-- PWA -->
<script src="/mobile/js/pwa.js"></script>
<script>
    $("#home_search").click(function(){
        if($('#phone_number').val() !== undefined || $('#phone_number').val() !== ""){
            window.location.href='/home/' + $('#phone_number').val()
        }else{
            alert('Утасны дугаараа оруулна уу!')
        }
    });
</script>
</body>
</html>